.l-FB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1024px;
  margin: auto;
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.l-FB-game-area {
  position: relative;
  min-width: 45%;
  max-width: 48%;
  margin: 0.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.l-input-area {
  margin: 0.5%;
}

.l-results {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
}

.l-output {
  min-width: 98%;
  margin-top: 0;
}