$color-A: #315BB2; //dark blue
$color-B: #5F93FF; //medium blue
$color-C: #79A5FF; //light blue
$color-D: #B2851F; //dark peach
$color-E: #FFCE5F; //light peach

body {
  background-color: $color-A;
  font-family: Helvetica, sans-serif;
  color: $color-E;
  box-sizing: border-box;
}

.FB-game-area, .results {
  border: 3px solid $color-B;
  background-color: $color-C;
  border-radius: 1%;
}

input {
  border: none;
  color: $color-E;
  background-color: $color-D;
  &:focus {
    color: $color-E;
  }
}

input::-webkit-input-placeholder {
color: $color-E;
}
input:-moz-placeholder { /* Firefox 18- */
color: $color-E;  
}
input::-moz-placeholder {  /* Firefox 19+ */
color: $color-E;  
}
input:-ms-input-placeholder {  
color: $color-E;  
}

option {
  background-color: $color-A;
  color: $color-E;
}

button {
  background-color: $color-A;
  border: none;
  color: $color-C;
  &:hover {
    background-color: $color-C;
    color: $color-A;
  }
  &:active {
    border: 2px solid $color-E;
  }
}

.output {
  background-color: $color-A;
  border: $color-B;
  border-top: 3px solid $color-D;
  padding: 0.5%;
}
